*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clock{
    border: 1px solid #000;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #fff;
    font-family: monospace;
}


button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    background-color: #1d2822;
    color: white;
}

button:hover{
    opacity: 0.5;
}

.stop-watch{
    margin: 10px auto;
    padding: 20px;
    font-size: 3rem;
    background-color: #000;
    color: white;
    border-radius: 10px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls{
    display: flex;
    justify-content: space-between;
}

.todo-list{
    height: 300px;
    overflow-y: scroll;
}


/* prevent the clild being clickecd on onclick */
.todo-item p{
    pointer-events: none;
}