*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#btn-alert{
    padding: 10px 20px;
    background-color: rgb(38, 54, 48);
    border: none;
    outline: none;
    margin: 25px;
    border-radius: 25px;
    color: white;
}

#btn-alert:hover{
    opacity: 0.8;
}