* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

:root {
  /* natural color  */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-levender: hsl(241, 100%, 89%);
  --persian-blue: hsl(224, 30%, 27%);

  /* primary color  */
  --red-300: hsl(0, 100%, 67%);
  --red-background: hsla(0, 100%, 67%, 0.15);
  --yellow-300: hsl(39, 100%, 56%);
  --yellow-background: hsl(39, 100%, 56%, 0.15);
  --teal-300: hsl(166, 100%, 37%);
  --teal-background: hsl(166, 100%, 37%, 0.15);
  --blue-300: hsl(234, 85%, 45%);
  --blue-background: hsl(234, 85%, 45%, 0.15);
  --purple-300: hsl(252, 100%, 67%);
  --purple-500: hsla(256, 72%, 46%, 1);

  /* font style  */
  --font-width-normal: 500;
  --font-width-bold: 700;
  --font-width-bolder: 800;

  /* padding and margin  */
  --main-padding: 10px;
  --sub-container-padding: 30px;
  --container-raduis: 1.5rem;
  --right-container-radius: 0px 1.5rem 1.5rem 0rem;
  --bottom-border-radius: 0rem 0px 1.5rem 1.5rem;

  --fontsize-400: 18px;
  --fontsize-500: 22px;
  --fontsize-550: 25px;
  --fontsize-600: 4rem;

  /* gradient color  */
  --gradient1: linear-gradient(var(--purple-300), hsl(241, 81%, 54%));
  --gradient3: linear-gradient(hsla(0, 0%, 100%, 0), hsl(241, 81%, 54%));
  --gradient2: linear-gradient(var(--purple-500), hsla(241, 72%, 46%, 0));
}

body {
  height: 100vh;
  width: 100%;
  font-size: var(--fontsize-normal);
  font-weight: var(--font-width-normal);
  background-color: var(--pale-blue);
}

.grid-center {
  display: grid;
  place-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-heading {
  font-size: var(--fontsize-500);
  font-weight: var(--font-width-bold);
  color: var(--pale-blue);
}

/* styling of the main container starts here  */
.main-container {
  background-color: var(--white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 38rem;
  min-height: 28rem;
  border-radius: var(--container-raduis);
  box-shadow: 5px 5px 10px var(--pale-blue);
}


.left-container-main {
  position: relative;
}

.left-container {
  background-color: var(--purple-300);
  color: var(--pale-blue);
  font-size: var(--fontsize-normal);
  text-align: center;
  padding: var(--sub-container-padding);
  border-radius: var(--container-raduis);
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;
}

.total-stat-circle .circle {
  flex-direction: column;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: var(--purple-500);
}

.total-stat-circle p span {
  font-size: var(--fontsize-600);
  font-weight: var(--font-width-bolder);
  line-height: 4rem;
  color: var(--white);
}

.left-bottom {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  z-index: 20;
}

.left-bottom h2 {
  font-size: var(--fontsize-550);
}

.gradient {
  position: absolute;
  top: 0;
  border-radius: var(--container-raduis);
  background-image: var(--gradient3);
  height: 100%;
  width: 100%;
  z-index: 10;
}

.right-container {
  background-color: var(--white);
  font-size: var(--fontsize-normal);
  padding: var(--sub-container-padding);
  border-radius: var(--right-container-radius);
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.right-container h2 {
  color: var(--persian-blue);
}

.stats-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 15px;
}

.stats-container .stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  background-color: gray;
}

.stats-container .stat div {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.stats-container .stat p span {
  font-weight: var(--font-width-bolder);
  color: var(--persian-blue);
}

.stats-container .stat1 {
  background-color: var(--red-background);
}
.stats-container .stat1 div p {
  color: var(--red-300);
}

.stats-container .stat2 {
  background-color: var(--yellow-background);
}
.stats-container .stat2 div p {
  color: var(--yellow-300);
}

.stats-container .stat3 {
  background-color: var(--teal-background);
}
.stats-container .stat3 div p {
  color: var(--teal-300);
}

.stats-container .stat4 {
  background-color: var(--blue-background);
}
.stats-container .stat4 div p {
  color: var(--blue-300);
}

.btn-container button{
  background-color: var(--persian-blue);
  outline: none;
  border: none;
  font-size: var(--fontsize-400);
  font-weight: var(--font-width-bold);
  text-align: center;
  width: 100%;
  padding: 12px 0;
  color: var(--white);
  border-radius: 25px;
  cursor: pointer;

}

.btn-container button:hover{
  background-image: var(--gradient1);
}

@media screen and (max-width: 600px) {

  :root{
    --sub-container-padding: 20px;

  }

  body.flex-center {
    height: 100vh;
    max-width: 100%;
    justify-content: center;
    align-items: start;
    font-size: var(--fontsize-normal);
    font-weight: var(--font-width-normal);
    background-color: var(--pale-blue);
  }

  .main-container{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    max-height: 100vh;
  }

  .left-container{
    border-radius: var(--bottom-border-radius);
  }

  .right-container{
    gap: 20px;
  }
  .left-container{
    gap: 5px;
  }
  
}
